html {
  /* height: 100%; */
  -webkit-app-region: drag;
}

body {
  margin: auto;
  padding: 1rem;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  background-color: antiquewhite;
}

#input {
  width: 100%;
  
  font-family: inherit;
  font-size: larger;

  background: transparent;
  border: none;

  -webkit-app-region: no-drag;
  resize: none;
}

#input:focus-visible {
  outline: none;
}

#output {
  width: 100%;
  /* min-height: 10rem; */
  
  /* border: 1px solid #ccc; */
  font-family: inherit;
  font-size: inherit;
  
  -webkit-app-region: no-drag;
}
