html {
  -webkit-app-region: drag;
}

body {
  width: 100%;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  background-color: antiquewhite;
}

#input {
  width: 100%;
  box-sizing: border-box;
  padding: 1ex;
  overflow-y: hidden;
  
  font-family: inherit;
  font-size: larger;

  background: transparent;
  border: none;

  -webkit-app-region: no-drag;
  resize: none;
}

#input:focus-visible {
  outline: none;
}

#output-text {
  width: 100%;
  padding: 1ex;
  box-sizing: border-box;
  
  font-family: inherit;
  font-size: inherit;
  
  -webkit-app-region: no-drag;
}

.divider {
  border: 1px solid lightgray;
}
